<a href="https://colab.research.google.com/github/amrrahman1/Distance-and-Time-Core-/blob/main/Copy_of_Distance_and_time_Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Starter Code

# Exploring NumPy Arrays: Distance and Time

1) Import the numpy library

In [1]:
import numpy as np

2) Create a numpy array called "distance that includes the following distances (in meters): 100, 200, 400, 800, 1500, 3000, 5000, 10000

In [2]:
distance_array = [100,200,400,800,1500,3000,5000,10000]
print (distance_array)

[100, 200, 400, 800, 1500, 3000, 5000, 10000]

3) Use the min() and max() commands to find the minimum and maximum distances

In [19]:
np.min(distance_array),np.max(distance_array)

(100, 10000)

4) To find the average distance, use the np.mean() function

In [9]:
np.mean(distance_array)

2625.0

5) use the sum() function to find the total distance

In [10]:
np.sum(distance_array)

21000

6) Another valuable function is the cumsum() function which outputs the cumulative sum...notice the output will be 100, 300, 700 as it adds each new distance

In [12]:
np.cumsum (distance_array)

array([  100,   300,   700,  1500,  3000,  6000, 11000, 21000])

7) To round all of the values in an array, use np.round()

In [13]:
np.round(distance_array)

array([  100,   200,   400,   800,  1500,  3000,  5000, 10000])

8) Create a numpy array called time that includes the following times (in seconds):  10.62, 21.34, 48.25, 113.43, 233.96, 506.53, 866.17, 1757.45

In [14]:
time_array = [10.62, 21.34, 48.25, 113.43, 233.96, 506.53, 866.17, 1757.45]
print (time_array)

[10.62, 21.34, 48.25, 113.43, 233.96, 506.53, 866.17, 1757.45]

9) the values in your time array correspond to olympic records for running the corresponding distances.  Perform the calculation needed to find the speed (in m/s) for each record distance

In [34]:
# got some help from https://appdividend.com/
distance_miles_array = [element * 0.000621371 for element in distance_array]
miles_second_array = np.divide (distance_miles_array , time_array)
print (miles_second_array)

[0.00585095 0.00582353 0.00515126 0.00438241 0.00398383 0.00368016
 0.00358689 0.00353564]

10) One common problem data scientists run into is that we are given information in units that are not consistent.  
For example, we might want to compare data that is given in meters to second to data that is given in miles per hour. A cheetah is the fastest land animal which can reach speeds of 75.0 miles per hour.  
In order to compare our olympians to a cheetah, we need to be able to convert from one unit to another.
Perform calculations to convert the olympic record speeds from meters/second into miles per hour.  Note: 1 meter = 0.00062 miles
How do our olympians compare to the cheetah?

In [37]:
#converting from miles/second to miles/ hour
speed_array = miles_second_array * 3600
print (speed_array)

[21.06342373 20.96471978 18.54454383 15.77667707 14.34178236 13.24858705
 12.91279772 12.72830294]